<p class="notice" id = "notice"><% notice %></p>

<h4> Search results: <%= params[:search_key] %> </h4>

<% @count = 0 %>
<% @books.each do |book| %>

   <% @count = 0 if @count == 4 %>

   <% if @count == 0 %>
      <div class="row">
   <% end %>

   <div class="col s12 m3 book-container">
      <div class="book-information valign-wrapper">
         <div class="contenido valign center">
            <span class="title"><b><%= book.title %></b></span> <br>
            <img src= <%= book.image_link %> alt="" class = "center">
            <p><i> <%= book.authors %> </i></p>
            <p>Rate: <%= get_book_rate(book.isbn) %></p>
         </div>
      </div>
      <div class="book-actions">
         <% if book_already_in_shelf(book.isbn) || !user_signed_in? %>
            <div class="options-icon col m6 center">
         <% else %>
            <div class="options-icon col m4 center">
               <%= link_to '<i class="material-icons">library_add</i>'.html_safe, books_path(book_isbn: book.isbn), method: :post, :class => 'waves-effect waves-teal' %>
            </div>
            <div class="options-icon col m4 center">
         <% end %>
            <%= link_to '<i class="material-icons">chat_bubble</i>'.html_safe, book_reviewings_path(book.isbn), :class => 'waves-effect waves-teal' %>
         </div>
         <% if book_already_in_shelf(book.isbn) %>
            <div class="options-icon col m6 center">
         <% else %>
            <div class="options-icon col m4 center">
         <% end %>
            <a class='waves-effect waves-teal modal-trigger' href= <%="#book-description#{book.isbn}" %> data-activates=''>
               <i class="material-icons">add</i>
            </a>
         </div>
      </div>
   </div>

   <% @count += 1 %>

   <% if @count == 4 %>
      </div>
   <% end %>

   <div id= <%= "book-description#{book.isbn}" %> class="modal">
      <div class="modal-content">
         <h4> <%= book.title %></h4>
         <p> <%= book.description %> </p> <br>
         <% if !book_already_in_shelf(book.isbn) && user_signed_in? %>
            <%= form_tag books_path(book_isbn: book.isbn) do %>
               <h6>Add to shelf:</h6>
               <div class="row">
                  <div class="input-field col m8 s12">
                     <%= select_tag :shelf_id, options_from_collection_for_select(@shelves, "id", "name") %>
                  </div>
                  <div class="input-field col m4 s12">
                     <%= submit_tag 'Agregar', :class => 'btn' %>
                  </div>
               </div>
            <% end %>  
         <% end %>
      </div>
   </div>

<% end %>