<p class="notice" id = "notice"><% notice %></p>

<div class="row valign-wrapper">
   <div class="col m11">
      <h4>Reviewings for <%= get_book_reviewed(params[:book_id]) %> </h4>
   </div>
   <div class="col m1 valign">
      <% if user_reviewed_book(params[:book_id]) %>
         <%= link_to '<i class="medium material-icons right">add</i>'.html_safe, books_path(book_isbn: params[:book_id]), method: 'post' %>
      <% end %>
   </div>
</div>

<% if @reviewings && !@reviewings.empty? %>
   <table class="bordered responsive-table">
      <tbody>
         <% @reviewings.each do |reviewing| %>
            <tr>
               <td><b> <%= reviewing.user.email %> </b><br>
                   <i class = "center"> <%= reviewing.rate %> </i>
               </td>
               <td>
                  <p> <%= reviewing.review %> </p>
               </td>
               <% if review_by_user(reviewing.id) %>
                  <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_reviewing_path(reviewing, book_id: reviewing.book.id) %> <br>
                  <%= link_to '<i class="material-icons">delete</i>'.html_safe, reviewing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               <% end %>
             </tr>
          <% end %>
        </tbody>
   </table>
<% else %>
   <p>No reviews about this book.</p>
<% end %>
