<!DOCTYPE html>
<html>	
	<head>
	  <title>ProyectoLibros</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag "material" %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<div class="row">
						<div class="left col s8 m7">
							<%= form_tag books_path, :method => 'get' do %>
								<div class="input-field">
									<%= text_field_tag :search_key, params[:search_key], type: 'search' %>
									<label for="search"><i class="material-icons">search</i></label>
								</div>
							<% end %>
						</div>
						<div class="col s4 m5">
							<p class = "right">
								<ul id="nav-mobile" class="right valign-wrapper">
									<% if user_signed_in? %>
										<li class = "valign"> <%= link_to 'My Books', books_path, :class => 'nav-option' %></li>
										<li class = "valign"> <%= link_to 'Shelves', shelves_path, :class => 'nav-option' %></li>
									<% end %>
							      	<li class = " valign">
							      		<a class="dropdown-button nav-option" href="#!" data-activates="dropdown1"><%= get_dropdown_title %><i class="material-icons right">arrow_drop_down</i></a>
							      	</li>
							    </ul>
							</p>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<ul id="dropdown1" class="dropdown-content">
			<li> <%= get_options_for_dropdown %> </li>
		</ul>

		<div class="container">
			<p class="notice" id = "notice"><% notice %></p>
			<p class="alert"><%= alert %></p>
			
			<%= yield %>
		</div>

		<script type='text/javascript'>
			notifiedByToast();
		</script>
	</body>
</html>